/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fourth);
  border-radius: 10px;
  cursor: var(--link-cursor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

::-webkit-scrollbar-corner {
  display: none;
}